#tabs {
	font-size: 1em;
}

/* Стили для детального описания объекта*/

.objectFoto {
	margin: 5px;
}

.objectDescription {
	
}

/* Особые стили для блоков с описанием объекта - для выравнивания*/
fieldset.notEdited {
	min-width: 45%;
}

/* Стили для контактов собственника */
#showName, #showNumber, #addToFavorit {
	color: #1A238B;
	cursor: pointer;
}
