#tabs {
	font-size: 1em;
}

/* Стили для детального описания объекта*/

.objectFoto {
	margin: 5px;
}

.objectDescription {
	
}

/* Стили для блоков с описанием объекта*/
.objectDescriptionChapter {
	display: inline-block;
}

.objectDescriptionChapter table td {
	vertical-align: middle;
	padding: 5px;
}

.objectDescriptionChapter tr {
	border-bottom: 1px dotted #A64800;
}

.objectDescriptionChapterHeader {
	background-color: #B5B5B5;
	font-size: 1.2em;
	padding-left: 5px;
}
