/* Стиль для панели табов - ul*/
/* Важно, что пока он плавающий и основной текст из .ui-tabs-panel его обтекает*/
.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
}

.ui-widget-header {
	background-color: #BF6E30;
	background-image: none;
}

/* Стиль для не выбранного таба - элемента li*/
.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0px 0px 0px 0px;
	padding: 0;
	cursor: pointer;
}
.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}
/* Стиль для текущего выбранного таба - элемента li*/
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
	margin: 0px 0px 0px 0px;
	padding: 0;
	cursor: text;
}
/* Стиль для основного текста, отображаемого справа от табов*/
.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	overflow: auto;
}

button, .yrt{
	margin: 14px 0px 0px 50px;
}
