/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
    color: #1A238B;
}

a:visited {
    color: #1A238B;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */

a:hover,
a:active {
    outline: 0;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

ul.listDescription {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-left: 1%;
	float: left;
	line-height: 1.6em;
	max-width: 40em;
}

ul.listDescription .headOfString {
	border-bottom: 1px dotted black;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
    overflow: hidden;
}

/* =============================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}

fieldset {
   margin: 5px;
   border-radius: 5px;
   border: 1px solid #336784;
   text-align: left;
   vertical-align: top;
}

fieldset legend {
	font-weight: bold;
	color: #336784;
}

/* Стили для редактируемых блоков fieldset*/
fieldset.edited {
	line-height: 2;
}

/* Стили для НЕредактируемых блоков fieldset*/
fieldset.notEdited {
	display: inline-block;
}

fieldset.notEdited table td {
	vertical-align: middle;
	padding: 5px;
}

fieldset.notEdited tr {
	border-bottom: 1px dotted #336784;
}

.highlighted {
	background-color: #33CEC3;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 0px;
}

td, th {
    vertical-align: middle;
    padding: 4px;
}

td.top.left, th.top.left {
	border-top-left-radius: 5px;
}

td.bottom.left, th.bottom.left {
	border-bottom-left-radius: 5px;
}

td.top.right, th.top.right {
	border-top-right-radius: 5px;
}

td.bottom.right, th.bottom.right {
	border-bottom-right-radius: 5px;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==|== primary styles =====================================================
   
   
   Author: Ushakov Dmitrii
   
   
   ========================================================================== */

html {
	margin: 0;
	padding: 0;
	height: 100%; /* эта строчка для прижатия подвала к низу страницы*/
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	font-size: 100%;
	height: 100%; /* эта строчка для прижатия подвала к низу страницы*/
	width: 100%;
	background: #A7A4A1 url('bg_white.jpg');
}

/* =============================================================================
   Foto
   ========================================================================== */

.fotosWrapper {
	float: left;
}

.resultSearchFoto {
	float: none !important;
}

.bigFotoWrapper {
	display: inline-block;
	max-width: 300px;
	max-height: 300px;
	margin: 5px;
	/* Для тестирования */
	border: 1px solid black;
	width: 200px;
	height: 300px;
	/* Конец зоны тестирования */
}

.bigFoto {
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}

.middleFotoWrapper {
	display: inline-block;
	max-width: 120px;
	max-height: 120px;
	margin: 5px;
	/* Для тестирования */
	border: 1px solid black;
	width: 120px;
	height: 120px;
	/* Конец зоны тестирования */
}

.middleFoto {
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}

/* =============================================================================
   Полезные классы
   ========================================================================== */

.clearBoth {
	clear: both;
}

.shadowText {
	font-size: 0.8em; 
	color: #666666;
}

.bottomButton {
	float: right;
	margin: 7px 0px 0px 7px;
	text-align: center;
}

/* =============================================================================
   Стили для шапки страницы
   ========================================================================== */

.header {
	font-family: Georgia, "Times New Roman", Times, serif;
	position: relative;
	width: 98%;
	min-width: 765px; /*Исходим из того, что миним. ширина всей страницы - 780 px, а значит 96% = 749px */
	margin: 0px auto 0px auto; /* верхний отступ должен быть = 0, пояснения в padding-top*/
	padding-top: 10px; /* Используем вместо margin-top 10px padding-top=10px, так как это позволяет прижать футер к низу страницы без появления полосы прокрутки */
}

.iconBox {
	background-image: url('brand.png');
	width: 94px;
	height: 94px;
	/*float: left;*/
	position: absolute;
	left: 0px;
	top: 0px;
}

.nameOfServiceBox {
	min-width: 370px;
	margin-left: 100px;
	margin-right: 130px;
	text-align: center;
}

.slogan {
	font-size: 1.5em; /* 24px / 16 px */
}

.underslogan {
	font-size: 1em; /* 16px / 16 px */
}

/* Стили для минималистской формы входа */
.enter {
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
}

.amountOfNewsInEnter {
	color: red;
}

/* =============================================================================
   Стили для главного меню
   ========================================================================== */
  
.menu {
	margin: 15px 100px 0px 100px;
	min-width: 500px;
	text-align: center;
}

.menu ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.menu ul li {
	float: left;
	height: 3em;
	line-height: 3em;
	background: #336784 url('bg_blue.jpg');
	width: 25%;
	text-align: center;
	vertical-align: middle;
}

.menu ul li.left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu ul li.right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.menu ul li.selected span {
	white-space: nowrap;
	font-size: 1.2em;
	color: #a4a3a3;
}

.menu ul li a {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	font-size: 1.2em;
	color: white;
}

.menu ul li a:hover {
	color: #cccccb;
}

.enter a {
	text-decoration: none;
	border-bottom: 1px dotted;
}

/* =============================================================================
   Стили для основного содержимого страницы
   ========================================================================== */
  
.page_without_footer {
	min-height: 100%;
	margin: 0px auto -34px auto;
	min-width: 780px;
	max-width: 1400px;
}

.page_main_content {
    margin: 30px auto 0px auto;
    width: 90%;
}

.headerOfPage {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	text-align: left;
	padding: 6px 0px 6px 0px;
}

.wrapperOfTabs{
	width: 100%;
}

#tabs {
	font-size: 1em;
}

.page-buffer {
	height: 34px;
	clear: both;
}

.footer {
	font-size: 13px;
	color: #666666;
	text-align: center;
	padding: 7px;
	min-width: 780px;
	max-width: 1400px;
	margin: 0px auto 0px auto;
}

/* =============================================================================
   Стили для мини блока - используется при входе в сервис, при выборе роли на регистрации
   ========================================================================== */
  
.miniBlock {
	width: 600px;
	margin: 80px auto 0% auto;
	line-height: 2em;
	border: 1px solid #336784;
	border-radius: 5px;
	text-align: center;
	background-color: white;
}

.miniBlockHeader {
	background-color: #6A9D02;
	color: white;
	text-align: center;
}

.miniBlockContent {
	display: block;
	margin: 20px auto 20px auto;
	text-align: left;
}

.miniBlock ul {
	list-style: none;
	padding: 0;
}

.miniBlockContent form {
	text-align: center;
}

.miniBlockContent table, .miniBlockContent ul {
	display: inline-block;
	margin: auto;
	text-align: left;
}

#buttonSubmit {
	clear: both;
	float: right;
	margin-bottom: 20px;
	margin-right: 20px;
}

.buttonRegistration {
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}

/* =============================================================================
   Стили для блока добавления и удаления из избранного
   ========================================================================== */
  
.blockOfIcon {
	display: inline-block; 
	width: 1.2em;
}

.icon {
	width: 100%; 
	margin-top: -0.3em;
}

/* =============================================================================
   Стили для редактируемых блоков с параметрами поиска
   ========================================================================== */

#leftBlockOfSearchParameters {
	display: inline-block;
	vertical-align: top;
}

#rightBlockOfSearchParameters {
	display: inline-block;
	height: 345px;
}

#rightBlockOfSearchParameters fieldset {
	height: 100%;
}
#rightBlockOfSearchParameters .searchItem {
	height: 100%;
}

#rightBlockOfSearchParameters .searchItemBody {
	height: 95%; 
	width: 200px; 
	overflow-y: auto;
}

#rightBlockOfSearchParameters ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.extendedSearchParametersBlock {
	display: inline-block;
}

.searchChapter {
	display: inline-block;
}

.searchItemBody {
	display: inline-block;
}

.private {
	display: inline-block;
}

/* =============================================================================
   Стили для НЕредактируемых блоков с параметрами поиска - в режиме просмотра
   ========================================================================== */
  
  #additionalSearchDescription {
				max-width: 70%;
				min-width: 32em;
			}

			#firstTableColumnSpecial {
				min-width: 16em;
			}

/* =============================================================================
   Стили для результатов поиска (таблица, карта, ьаблица + карта) и избранных объявлений
   ========================================================================== */

/* Стили для список + карта */
.choiceViewSearchResult {
	margin: 6px 0px 6px 0px;
}

#resultOnSearchPage {
	width: 100%;
	margin: 10px auto;
	position: relative;
}

.numberOfRealtyObject {
	position: absolute; 
	top: 4px; 
	left: 0px; 
	text-align: center; 
	width: 100%; 
	font-size: 1em;
}

/* Стили для чистого списка объявлений - без карты */
.listOfRealtyObjects {
	width: 49%;
	float: left;
}

.realtyObject {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid grey;
	background-color: white;
}

.realtyObject:hover {
	background-color: #6A9D02;
	cursor: pointer;
}

.realtyObject td {
	position: relative; /* Чтобы абсолютно позиционированная ссылка Подробнее не уезжала из ячейки */
}

.linkToDescriptionBlock { /* Блок для ссылки подробнее под каждым объявлением в списке */
	position: absolute; 
	bottom: 4px; 
	right: 4px;
}

.linkToDescriptionBlock a { /* Белый цвет для ссылки дает иллюзию невидимости ссылки на белом фоне, пока не будет наведен указатель мыши */
	color: white;
}

.linkToDescriptionBlock a:hover {
	color: #7BDED9;
}

/* Режим только карты */
#map {
	width: 49%; 
	position: absolute;
	top: 0px;
	right: 0px;
}

.headOfBalloon {
	text-align: center; 
	font-size: 1.2em;
}

/* =============================================================================================================
   Стили для блоков краткого описания объявлений о недвижимости (Мои объявления) и новостей
   ========================================================================================================== */
  
.news {
	border: 1px solid #336784;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.newsHeader {
	border: 0px solid #B5B5B5;
	border-radius: 5px;
	background-color: #B5B5B5; 
	padding-left: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}

.advertForPersonalPage.published .newsHeader {
	background-color: #009D91;
}

.advertForPersonalPage.published .advertHeaderStatus {
	color: white;
}

.advertForPersonalPage.unpublished .newsHeader {
	background-color: #B5B5B5;
}

.advertForPersonalPage.unpublished .advertHeaderStatus {
	color: white;
}

.setOfInstructions {
	text-align: right; 
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Стили для вкладки Новости личного кабинета */
.actionReaded {
	float: right; 
	margin-top: -3px; 
	margin-right: 4px; 
	font-weight: normal;
}

div.unread > div.newsHeader {
	background-color: #FF9340;
}

/* =======================================================================
   Стили для НЕредактируемого описания человека - вкладки Профайл личного кабинета и страничек пользователей
   ====================================================================== */
  
.profileInformation {
	float: left;
	margin: 10px 10px 0px 10px;
	max-width: 40em;
}

.FIO {
	font-size: 1.1em;
	font-weight: bold;
}

.linksToAccounts {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* ======================================================================
   Стили для РЕДАКТИРОВАНИЯ описания человека (Профайл личного кабинета и форма регистрации)
   ====================================================================== */
  
.required {
	display: inline-block;
	color: red;
	width: 5px;
}

.private {
	display: inline-block;
}

#addressForm {
	clear: both;
}

.inputItem, .objectDescriptionItem {
	margin: 7px;
}

.inputItem .label, .objectDescriptionItem .objectDescriptionLabel {
	width: 300px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

table {
	display: inline-block;
}

table td {
	vertical-align: middle;
	padding: 5px;
}

/* =======================================================================
   Стили для закрытых контактов, предоставляемых по требованию
   ====================================================================== */
  
  #showName {
	color: #1A238B;
	cursor: pointer;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
