#tabs {
	font-size: 1em;
}

/* Стили для вкладки Профайл личного кабинета */

.profileInformation {
	float: left;
	margin: 10px 10px 0px 10px;
	max-width: 40em;
}

.profileInformation ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-left: 1%;
}

.FIO {
	font-size: 1.1em;
	font-weight: bold;
}

.headOfString {
	border-bottom: 1px dotted black;
}

.linksToAccounts {
	list-style: none;
	padding: 0;
	margin: 0;
}

.linksToAccounts li {
}
