#tabs {
	font-size: 1em;
}

/* Стили для вкладки Профайл описания пользователя */

.profileInformation {
	float: left;
	margin: 10px 10px 0px 10px;
	max-width: 40em;
}

.profileInformation ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-left: 1%;
}

.FIO {
	font-size: 1.1em;
	font-weight: bold;
}

.headOfString {
	border-bottom: 1px dotted black;
}

.linksToAccounts {
	list-style: none;
	padding: 0;
	margin: 0;
}

.linksToAccounts li {
}

/* Стили для контактов пользователя - если они закрыты */
#showName {
	color: #1A238B;
	cursor: pointer;
}

/* Стили для вкладки Объявления личной страницы пользователя */

.news {
	border: 1px solid #A64800;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.newsHeader {
	border: 0px solid #B5B5B5;
	border-radius: 5px;
	background-color: #B5B5B5; 
	padding-left: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}

.advertForPersonalPage.published .newsHeader {
	background-color: #009D91;
}

.advertForPersonalPage.published .advertHeaderStatus {
	color: white;
}

.setOfInstructions {
	text-align: right; 
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
