#tabs {
	font-size: 1em;
}

/* Стили для вкладки Профайл личного кабинета */

.photoShot {
	float: left;
	width: 200px;
	height: 300px;
	border: 1px solid black;
}

.profileInformation {
	margin-left: 212px;
}

.FIO {
	font-size: 1.1em;
	font-weight: bold;
}

/* Стили для вкладки Новости личного кабинета */

.news {
	border: 1px solid #aa4451;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.newsHeader {
	border: 0px solid #B5B5B5;
	border-radius: 5px;
	background-color: #B5B5B5; 
	padding-left: 5px;
	font-weight: normal;
}

.unread {
	/*background-color: #5DCEC6;*/
}

.actionReaded {
	float: right; 
	margin-top: -3px; 
	margin-right: 4px; 
	font-weight: normal;
}

div.unread > div.newsHeader {
	background-color: #FF9340;
}

/* Стили для вкладки Объявления личного кабинета */

.advertForPersonalPage.published .newsHeader {
	background-color: #009D91;
}

.advertForPersonalPage.published .advertHeaderStatus {
	color: white;
}

.advertForPersonalPage.unpublished .newsHeader {
	background-color: #B5B5B5;
}

.advertForPersonalPage.unpublished .advertHeaderStatus {
	color: white;
}

.setOfInstructions {
	text-align:right; 
	float: right;
}


/* Стили для создания нового Объявления*/

.actionChangeStatusAdvert {
	float: right; 
	margin-top: -0.1em; 
	margin-right: 4px; 
	font-weight: normal;
	font-size: 0.8em;
}

#addressForm {
	clear: both;
}

.inputItem, .objectDescriptionItem {
	width: 100%;
	margin-top: 7px;
	margin-bottom: 7px;
}

.inputItem .label, .objectDescriptionItem .objectDescriptionItemLabel {
	min-width: 150px;
	width: 49%;
	text-align: right;
	display: inline-block;
	vertical-align: top;
}

.objectDescriptionItem .objectDescriptionBody {
	display: inline-block;
	width: 49%;
}

.objectDescriptionBody.furniture {
	min-width: 300px;
}

table {
	display: inline-block;
}

table td {
	vertical-align: middle;
	padding: 5px;
}

#newAdvertButton {
	margin-bottom: 10px;
}

.advertHeader {
	border: 1px solid #AAAAAA;
	padding: 5px;
	background-color: #B5B5B5;
	font-size: 1.2em;
	border-radius: 5px 5px 0 0;
}

.advertHeaderStatus {
	color: red;
	display: inline-block;
}

.advertDescriptionEdit {
	border: 1px solid #AAAAAA;
	border-radius: 0 0 5px 5px;
	padding: 10px;
}

.advertDescriptionChapterHeader {
	background-color: #B5B5B5;
	font-size: 1.2em;
	padding-left: 5px;
}
