body {

}

.nameOfServiceBox {
	right: 0px;
}

.wrapperOfTabs{
	width: 70%;
	margin: auto;
}

#tabs {
	font-size: 1em;
}

.photoShot {
	float: left;
	width: 200px;
	height: 300px;
	border: 1px solid black;
}

.profileInformation {
	margin-left: 212px;
}

.FIO {
	font-size: 1.1em;
	font-weight: bold;
}

.news {
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}

.newsHeader {
	background-color: #B5B5B5; 
	padding-left: 5px;
}

.unread {
	/*background-color: #5DCEC6;*/
}

div.unread > div.newsHeader {
	background-color: #FF9340;
}

#addressForm {
	clear: both;
}

.inputItem, .objectDescriptionItem {
	margin: 7px;
}

.inputItem .label, .objectDescriptionItem .objectDescriptionLabel {
	width: 300px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

table {
	display: inline-block;
}

table td {
	vertical-align: middle;
	padding: 5px;
}

#newAdvertButton {
	margin-bottom: 10px;
}

.advertHeader {
	border: 1px solid #AAAAAA;
	padding: 5px;
	background-color: #B5B5B5;
	font-size: 1.2em;
}

.advertDescriptionEdit {
	border: 1px solid #AAAAAA;
	padding: 10px;
}

.advertDescriptionChapterHeader {
	background-color: #B5B5B5;
	font-size: 1.2em;
	padding-left: 5px;
}

