.nameOfServiceBox {
	right: 0px;
}

#tabs {
	font-size: 1em;
}

#addressForm {
	clear: both;
}

.inputItem, .objectDescriptionItem {
	margin: 7px;
}

.inputItem .label, .objectDescriptionItem .objectDescriptionLabel {
	width: 300px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

table {
	display: inline-block;
}

table td {
	vertical-align: middle;
	padding: 5px;
}

#newAdvertButton {
	margin-bottom: 10px;
}

.advertHeader {
	border: 1px solid #AAAAAA;
	padding: 5px;
	background-color: #B5B5B5;
	font-size: 1.2em;
}

.advertDescriptionEdit {
	border: 1px solid #AAAAAA;
	padding: 10px;
}

.advertDescriptionChapterHeader {
	background-color: #B5B5B5;
	font-size: 1.2em;
	padding-left: 5px;
}

