.nameOfServiceBox {
	right: 0px;
}

#tabs {
	font-size: 1em;
}

/* Стили для личных данных*/
.required {
	display: inline-block; 
	color: red; 
	width: 5px;
}

.private {
	display: inline-block;
}

#addressForm {
	clear: both;
}

.inputItem, .objectDescriptionItem {
	margin: 7px;
}

.inputItem .label, .objectDescriptionItem .objectDescriptionLabel {
	width: 300px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

table {
	display: inline-block;
}

table td {
	vertical-align: middle;
	padding: 5px;
}

/* Стили для параметров поиска*/
.extendedSearchParametersBlock {
	display: inline-block;
}

#rightBlockOfSearchParameters {
	display: inline-block;
	height: 345px;
}

#rightBlockOfSearchParameters fieldset {
	height: 100%;
}
#rightBlockOfSearchParameters .searchItem {
	height: 100%;
}

#rightBlockOfSearchParameters .searchItemBody {
	height: 95%; 
	width:200px; 
	overflow-y: auto;
}

#rightBlockOfSearchParameters ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.searchChapter {
	display: inline-block;
}

.searchItemBody {
	display: inline-block;
}

/* Стили для капчи и для Готово */
.capcha {
	margin: 10px 10px 0px 20px; 
	float: right;
}

.readyButton {
	float: right;
	margin: 10px 10px 0px 10px;
}
