body {

}

#addressForm {
	clear: both;
}

.inputItem {
	margin: 7px;
}

.inputItem .label {
	width: 300px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

table.socialNetworkSelect {
	display: inline-block;
}
