#tabs {
	font-size: 1em;
}

/* Стили для параметров поиска*/
.searchChapter {
	display: inline-block;
}

#fastSearchInput {
	line-height: 2.4;

}

.searchItemBody {
	display: inline-block;
}

#rightBlockOfSearchParameters {
	display: inline-block;
	height: 345px;
}

.actionsOnSearch {
	float: right;
	margin-top: 10px;
}

#extendedSearchButton {
	margin-left: 20px;
}

/* Стили для блока с результатми поиска - список + карта */
#resultOnSearchPage {
	width: 100%;
	margin: 10px auto;
	position: relative;
}

/* Стили для списка объявлений*/
.listOfRealtyObjects {
	width: 49%;
	float: left;
}

.listOfRealtyObjectsHeader {
	height: 30px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
	background-color: #8e4a15;
}

.listOfRealtyObjectsHeader th {
	font-weight: normal;
}

.realtyObject {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid grey;
	background-color: white;
}

.realtyObject:hover {
	background-color: #BF6E30;
	cursor: pointer;
}

/* Стили для карты*/
#map {
	float: right;
	width: 49%; 
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.miniImg {
	border: 1px solid black;
	width: 50px; 
	height: 50px;
	margin: 3px;
}
