body {
	width: 100%;
	height: 100%;
}

.wrapperOfTabs{
	width: 85%;
	margin: auto;
}

.headerOfPage {
	font-size: 1.5em;
	text-align: left;
	margin-left: -5%;
}

#tabs {
	font-size: 1em;
}

/* Стили для параметров поиска*/
.searchChapter {
	display: inline-block;
}

#fastSearchInput {
	line-height: 2.4;

}

.searchItemBody {
	display: inline-block;
}

/* Стили для блока с результатми поиска - список + карта */
#resultOnSearchPage {
	width: 95%;
	margin: 10px auto;
}

/* Стили для списка объявлений*/
.listOfRealtyObjects {
	width: 49%;
	float: left;
	border-collapse: collapse;
}

.listOfRealtyObjectsHeader {
	height: 30px;
	text-align: center;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	background-color: green;
}

.realtyObject {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid grey;
	background-color: white;
}

.realtyObject:hover {
	background-color: grey;
}

/* Стили для карты*/
#map {
	float: right;
	width: 49%; 
	height: 400px;
}
